<h1> Category:  <%= items.first.name %></h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <% items.each do |item| %>
    <tr>
        <th><%= item.name %></th>
        <th><%= item.price %></th>
        <form action="/items/delete" method="POST">
            <th><button type="submit" name="id" value="<%= item.id %>">Delete</button></th>
        </form>
        <form action="/items/edit-form" method="POST">
            <th><button type="submit" name="id" value="<%= item.id %>">Edit</button></th>
        </form>
    </tr>
    <% end %>
</table>    
<br>
<a href="/category">Back to Main</a>
<a href="/category">Back to Cateogries</a>